<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
    <link rel="stylesheet" href="/css/project.css">
</head>
<body class="text-center" style="margin-top: 10vh;">
    <h1>Assignment Submission</h1>
    <div class="" style="margin-top: 30vh;">
        <a href="/student"> <button class="px-4 py-2" style="font-size: 20px;background-color: rgba(255,255,255,0.3);">Student</button></a>
        <a href="/teacher"><button class="px-4 py-2" style="font-size: 20px; background-color: rgba(255,255,255,0.3);">Teacher</button></a>
    </div>
   
</body>
</html>